<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Screen reader practice!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <!-- import the webpage's javascript file -->
    <script src="/client.js" defer></script>
  </head>  
  <body>
    
    <div id="application">
      <div class="loading">
        <h1>
          Turning on the lights...
        </h1>
      </div>
    </div>
    
    

  </body>
</html>
